

/* rest of app styles */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Vithkuqi&family=REM:wght@800&display=swap");

@font-face {
  font-family: satoshi;
  src: url("../public/fonts/Satoshi-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


@font-face {
  font-family: satoshi-bold;
  src: url("../public/fonts/Satoshi-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@font-face {
  font-family: satoshi-medium;
  src: url("../public/fonts/Satoshi-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@font-face {
    font-family: satoshi-black;
    src: url("../public/fonts/Satoshi-Black.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  } 



.App {
    font-style: normal;
    line-height: normal;
    font-family: satoshi;
    font-size: 16px;
    font-weight: 400;
}

