$primary-color: #007bff;
$primary-color-hover: #0056b3;
$border-color: #ccc;
$border-radius: 4px;
$padding: 8px;

.contact-form {
    margin-top: 30px;
    input,textarea{
        height: 40px;
        padding: 10px;
        outline: none;
        box-sizing: border-box;
        border-radius: 8px;
        border: none;
        background-color: rgb(153, 143, 143);
      }
      textarea{
        border-radius: 8px;
    }  
  .input-phase1{
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    gap: 20px;
     
  }
 
  .input-phase2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    input:nth-child(2){
        height: 120px;
    }
  }
  button {
    padding: 10px 15px;
    background-color: $namecolor;
    color: white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    
  }
}
