.navpage-parent{
    position: fixed;
    width: 100%;
    padding: 20px 100px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 2px 18px 0 rgba(129, 162, 182, .2);
    .navbar-name{
        font-family: satoshi-bold;
        font-size: 2rem;
        position: relative;
        padding-left: 20px;
        span{
            font-family: satoshi;
            font-size: 1.2rem;
            letter-spacing: 0.8px;
        }
        &::before{
            content: "";
            width: 8px;
            height: 8px;
            background-color: #0050ff;
            position: absolute;
            left: 0;
            top: 17px;
            
        }
    }
    .navitems-list{
        display: flex;
        gap: 2.5vw;
        font-size: 1.2rem;
        align-items: center;
        
    }
    
}
