@media only screen and (max-width: 992px) and (min-width: 770px)  {

    // NAVPAGE.SCSS RESPONSIVE  STARTS
        .navpage-parent{
            padding: 20px 20px 20px 20px;
            .navbar-name{
                font-size: 2.5vw;
                display: flex;
                flex-direction: column;
                padding-left: 22px;
                    span{font-size: 1.5vw;}
                     &::before{
                        top: 1.5vw;
                        left: 10px;
                        width: 1vw;
                        height: 1vw;
                    }
            }
            
           
        }

    // NAVPAGE.SCSS RESPONSIVE  ENDS

}


    
    @media only screen and (max-width: 770px) and (min-width: 360px)  {

        // NAVPAGE.SCSS RESPONSIVE 
            .navpage-parent{
                padding: 20px 20px 20px 20px;
                .navbar-name{
                    font-size: 20px;
                    display: flex;
                    flex-direction: column;
                    padding-left: 22px;
                
                    span{
                        font-size: 16px;
                    }
                    &::before{
                        top: 13px;
                        left: 9px;
                        width: 7px;
                        height: 7px;
                    }
                }
                .navitems-list{
                    gap: 15px;
                    font-size: 15px;
                    flex-direction: column;
                    position: absolute;
                    width: 100%;
                    align-items: end;
                    top: 90px;
                    background: $backcolor1;
                    left: 0px;
                    padding: 20px 0;
                   div{
                    padding-right: 20px;
                   }
                    
                }
                .mob-icon{
                    display: block;
                }
            }
        }    

