@import "./navpage.scss";
@import "./variable.scss";
@import "./aboutPage.scss";
@import "./contact.scss";

.hide{display: none;}

.load-components{
    width: 100%;
    margin-top: 83px;
    position: absolute;
    height: calc(100vh - 163px);
    box-sizing: border-box;
}


// LAYOUT COMPONENT SCSS

.layout-parent{
    width: 1024px;
    position: relative;
    padding-top: 30px;
}


// FOOTER COMPONENT SCSS

.footer-parent{
    position: absolute;
    bottom: 0;
    height: 80px;
    background-color: $footerbackcolor;
    width: 100%;
    color:$white;
    padding: 15px;
    box-sizing: border-box;
}

// PROFILE CARD COMPONENT SCSS

.profile-parent{
    width: 350px;
    height: 640px;
    position: fixed;
    border-radius: 16px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: #fff;
    z-index: 1;
    &::before{
        content:"";
        background: url("../svg/profilesvg.svg")no-repeat 0 0,url("../svg/profilesvg2.svg")no-repeat -130px 310px;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left: 0;

    }
   .profile-imgblock{
        background-color: $namecolor;
        width: 240px;
        height: 284px;
        border-radius: 20px;
   }
   .profile-name{
    margin-top: 20px;
   }
   .profile-subdesc{
    text-align: center;
    margin-top: 60px;
    width: 290px;
   }
   .profile-icons{
    display: flex;
    justify-content: center;
    gap:15px
   }

}
.profile-hyt{
    height: 550px;
   &::before{
    background: url("../svg/profilesvg.svg")no-repeat 0 0,url("../svg/profilesvg2.svg")no-repeat -160px 220px;

   }
}

//headtext-parent
.headtext-parent{
    font-family: Inter-ExtraBold;
    font-size: 65px;
    font-style: italic;
    margin: 0 0;
    letter-spacing: 5px;
    span{
        color:rgb(182,180,189,2)
    }
}

//paratext-parent
.paratext-parent{
    color: rgb(153,143,143);
    font-weight: 500;
    font-size: 18px;
}

//paraHead-parent
.paraHead-parent{
    font-family: Inter-ExtraBold;
    font-size: 25px;
}

//workInfo-parent
.workInfo-parent{
    display: flex;
    gap:25px;
    font-family: Inter-ExtraBold;
    div{
        font-size: 50px;
        p{
            font-family: satoshi;
            font-size: 18px;
            margin: 0;
            color: rgb(153,143,143);
            width: 130px;
            text-align: center;

        }
    }
}

.project-page-combined{
    padding: 0px;
    margin-top: 120px
}

.contact-parent{
    margin-top: 120px
}

@import "./responsive.scss";
